@{
    ViewData["Title"] = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Breadcrumbs"] = new List<Dictionary<string, string>>
    {
        new() { { "Titulo", "Mantenimiento" }, { "Url", "#" } },
        new() { { "Titulo", "Producto" }, { "Url", "Producto" } }
    };
    @await Html.PartialAsync("./Components/_BreadCrumb")
}

@{
    // Aquí defines los campos del formulario dinámico
    ViewData["ClassForm"] = "col-12 col-lg-6";

    ViewData["CamposFormulario"] = new List<FormFieldViewModel>
    {
        new () //Nombre
        {
            //Label del contenedor
            IdLabel = "lblNombre",
            Name = "nombres",
            Container_Label = "Nombre",
            //Tipo de input
            IdInput = "txtNombre",
            Input_Type = "text",
            Placeholder = "Ingrese el nombre del producto",
            Input_IsRequired = true,
            AutoComplete = true
        },
        new () //Descripcion
        {
            //Label del contenedor
            IdLabel = "lblDesc",
            Name = "description",
            Container_Label = "Descripción",
            //Textarea
            IdInput = "txtDesc",
            Placeholder = "Ingrese la descripción",
            // Input_Type = "text",
            RowTexTarea = "2",
            ColTexTarea = "1",
            Input_IsRequired = false,
            AutoComplete = true
        },
        new () //Marca
        {
            //Label del contenedor
            IdLabel = "lblMarca",
            Name = "marca",
            Container_Label = "Marca",
            //Tipo de input
            IdInput = "cboMarca",
            Input_Type = "select",
            Input_IsRequired = true,
            Select_Options = ViewBag.ListarMarcas
            // Select_Options = new Dictionary<string, string>
            // {
            //     { "1", "Sí" },
            //     { "0", "No" }
            // }
        },
        new () //Categoria
        {
            //Label del contenedor
            IdLabel = "lblCategoria",
            Name = "categoria",
            Container_Label = "Categoria",
            //Tipo de input
            IdInput = "cboCategoria",
            Input_Type = "select",
            Input_IsRequired = true,
            Select_Options = ViewBag.ListarCategorias
            // Select_Options = new Dictionary<string, string>
            // {
            //     { "1", "Sí" },
            //     { "0", "No" }
            // }
        },
        new () //Precio
        {
            //Label del contenedor
            IdLabel = "lblPrecio",
            Name = "precio",
            Container_Label = "Precio",
            //Tipo de input
            IdInput = "txtPrecio",
            Input_Type = "text",
            Placeholder = "Ingrese el Precio del producto",
            Input_IsRequired = true,
            AutoComplete = false
        },
        new () //Stock
        {
            //Label del contenedor
            IdLabel = "lblStock",
            Name = "stock",
            Container_Label = "Stock",
            //Tipo de input
            IdInput = "txtStock",
            Input_Type = "text",
            Placeholder = "Stock disponible del producto",
            Input_IsRequired = true,
            AutoComplete = true
        },
        new () //Activo
        {
            //Label del contenedor
            IdLabel = "lblAct",
            Name = "active",
            Container_Label = "Activo",
            //Tipo de input
            IdInput = "cboActivo",
            Input_Type = "select",
            Select_Options = new Dictionary<string, string>
            {
                { "1", "Sí" },
                { "0", "No" }
            }
        },
        new () //Imagen del producto
        {
            //Label del contenedor
            IdLabel = "lblProducto",
            Name = "producto",
            Container_Label = "Imagen del Producto",
            //Tipo de input
            IdInput = "fileProducto",
            Input_Type = "file",
            Placeholder = "Selecione la imagen del producto",
            Input_IsRequired = false,
            AutoComplete = false,
            //para aplicarle su column de manera independiente
            CustomColumnClass = "col-12"   // ← Esto lo pone full width siempre
        }
    };
}

<div class="card">
    <div class="card-header">
        <i class="fas fa-boxes me-1"></i> Lista de Productos
    </div>
    <div class="card-body position-relative">
        <div class="row">
            <div class="col-12">
                @{
                    ViewData["IdModal"] = "FormModalProducto";
                    ViewData["Titulo"] = "Agregar Nuevo Producto";
                }
                @await Html.PartialAsync("./Components/_ModalView")

                <button type="button" id="btnGuardar" class="btn btn-success px-3" data-bs-toggle="modal" data-bs-target="#FormModalProducto">Nuevo Producto <i class="fas fa-boxes ms-2"></i></button>
            </div>
        </div>

        @*<hr />*@

        <div id="tablaContainer" class="border-top border-dark mt-3 pb-4">
            <table id="idTabla" class="table table-hover table-bordered align-middle text-secondary" style="width: 100%">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Marca</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Activo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody id="tableBody" class="text-secondary"></tbody>
            </table>

            <!-- 🟢 Spinner para la tabla -->
            
            <div id="spinnerTabla"
                    class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-light bg-opacity-75"
                    style="z-index:1050; border-radius:0.375rem;">
                @await Html.PartialAsync("./Components/_Spinner")
            </div>
        </div>

    </div>
</div>

<style>
    .swal2-confirm { margin-left: 5px; }

    .swal2-cancel { margin-right: 5px; }

    .sk-cube-grid {
        width: 40px !important;
        height: 40px !important;
        margin: 15px auto !important;
    }
</style>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('modalDialog').classList.add('modal-lg');

            const spinner = document.getElementById('spinnerTabla');
            const tbody = document.getElementById('tableBody');

            // 🔹 Mostrar spinner antes de comenzar
            spinner.classList.remove('d-none');

            fetch('@Url.Action("ListarProductos", "Mantenedor")', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                }
            })
            .then(resp => {
                if(!resp.ok) throw new Error('Error en la petición');
                return resp.json();
            })
            .then(data => {
                tbody.innerHTML = '';

                data.listOfProd.forEach(p => {
                    const tr = document.createElement('tr');

                    //Nombre
                    const tdNombre = document.createElement('td');
                    tdNombre.className = 'pt-2';
                    tdNombre.textContent = p.nombre;

                    //Descripcion
                    const tdDesc = document.createElement('td');
                    tdDesc.className = 'pt-2';
                    tdDesc.textContent = p.description;

                    //
                });
            })

            // const modalProduc = document.getElementById('FormModalProducto');

            // modalProduc.addEventListener('shown.bs.modal', () {
            //     fetch('@Url.Action("ListarMarcas", "Mantenedor")')
            //         .then(response => response.json())
            //         .then(data => {
            //             const selectBrand = document.getElementById('cboMarca');
            //             if(selectBrand) {
            //                 selectBrand.innerHTML = '<option value="">Seleccione una marca</option>';
            //                 data.listOfMarca.forEach(m => {
            //                     const option = document.createElement('option');
            //                     option.value = m.idMarca;
            //                     option.textContent = m.description;
            //                     selectBrand.appendChild(option);
            //                 });
            //             }
            //         })
            //         .catch(err => console.error('Error cargando marcas:', err));

            //     fetch('@Url.Action("ListarCategorias", "Mantenedor")')
            //         .then(response => response.json())
            //         .then(data => {
            //             const selectCategories = document.getElementById('cboCategoria');
            //             if(selectCategories) {
            //                 selectCategories.innerHTML = '<option value="">Seleccione una Categoria</option>';
            //                 data.listData.forEach(c => {
            //                     const option = document.createElement('option');
            //                     option.value = c.idCategoria;
            //                     option.textContent = c.description;
            //                     selectCategories.appendChild(option);
            //                 });
            //             }
            //         })
            //         .catch(err => console.error('Error cargando categorías:', err));
            // });

        });
    </script>
}

@*
    $(document).ready(function () {
        $('#modalDialog').addClass('modal-lg');

        $(document).on('change', 'input[type="file"]', function () {
            previewImage(this);
        });
    });

    function previewImage(input){
        var $container = $(input).closest('.content-file');
        var $preview = $container.find('.product-preview');
        var $placeholder = $container.find('.placeholder-text');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $preview
                    .attr('src', e.target.result)
                    .removeClass('d-none');

                // Ocultamos el placeholder
                $placeholder.addClass('d-none');
            };

            reader.readAsDataURL(input.files[0]);
        } else {
            $preview
                .attr('src', '')
                .addClass('d-none');

            $placeholder.removeClass('d-none');
        }
    }
*@